{% extends "listings/base.html" %} {% block content %}

<div class="auth-shell">
  <div class="auth-card">
    <h2 class="auth-title">Login</h2>

    <form method="post" class="auth-form">
      {% csrf_token %}

      <label class="auth-label">Username</label>
      <input
        class="input"
        type="text"
        name="username"
        placeholder="e.g. alexmorea"
        required
      />

      <label class="auth-label" style="margin-top: 10px">Password</label>
      <input
        class="input"
        type="password"
        name="password"
        placeholder="Your password"
        required
      />

      <button class="btn-primary auth-btn" type="submit">Login</button>
    </form>

    <p class="auth-hint">
      Don’t have an account?
      <a class="auth-link" href="{% url 'register' %}">Register</a>
    </p>
  </div>
</div>

{% endblock %}
