{% extends "base.html" %} {% block content %}

<div class="auth-container">
  <h2 style="color: #ff7a00">Welcome to Rooms4You</h2>

  <p>Enter the verification code sent to your email</p>

  <form method="POST">
    {% csrf_token %}
    <input type="text" name="otp" placeholder="Enter OTP" required />
    <button type="submit">Verify</button>
  </form>

  <form method="POST" action="{% url 'resend_otp' %}">
    {% csrf_token %}
    <button type="submit" class="resend-btn">Resend OTP</button>
  </form>
</div>

{% endblock %}
