<div class="form-card" style="padding:18px;margin-bottom:25px;">

    <div class="dashboard-grid">

        <a href="{% url 'trust:home' %}" class="btn-primary">🏠 Home</a>

        <a href="{% url 'trust:stay_safe' %}" class="btn-primary">🛡 Stay Safe</a>

        <a href="{% url 'trust:official_communication' %}" class="btn-primary">📢 Official Communication</a>

        <a href="{% url 'trust:renting_safely' %}" class="btn-primary">🏠 Renting Safely</a>

        <a href="{% url 'trust:verification' %}" class="btn-primary">✅ Verification</a>

        <a href="{% url 'trust:fraud_alerts' %}" class="btn-primary">🚨 Fraud Alerts</a>

        <a href="{% url 'trust:report_fraud' %}" class="btn-primary">📣 Report Fraud</a>

    </div>

</div>