{% extends "listings/base.html" %} {% load static %} {% block content %}

<div class="container">
  <h2 class="page-title">🚚 Register Driver</h2>

  <div class="form-card">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="form-field">
        <label>Full Name</label>
        {{ form.full_name }}
      </div>

      <div class="form-field">
        <label>Email</label>
        {{ form.email }}
      </div>

      <div class="form-field">
        <label>Phone</label>
        {{ form.phone_number }}
      </div>

      <div class="form-field">
        <label>Vehicle Type</label>
        {{ form.vehicle_type }}
      </div>

      <div class="form-field">
        <label>Vehicle Registration</label>
        {{ form.vehicle_registration }}
      </div>

      <div class="form-field">
        <label>Address</label>
        {{ form.address }}
      </div>

      <div class="form-field">
        <label>City</label>
        {{ form.city }}
      </div>

      <div class="form-field">
        <label>Province</label>
        {{ form.province }}
      </div>

      {{ form.latitude }} {{ form.longitude }}

      <button type="button" id="useLocationBtn" class="btn-secondary">
        📍 Use My Current Location
      </button>

      <br /><br />

      <div class="form-field">
        <label>Driver License</label>
        {{ form.licence_image }}
      </div>

      <button class="btn-primary">Submit for Verification</button>
    </form>
  </div>
</div>

<script>
  document.getElementById("useLocationBtn").onclick = function () {
    if (!navigator.geolocation) {
      alert("GPS not supported");
      return;
    }

    navigator.geolocation.getCurrentPosition(async function (pos) {
      const lat = pos.coords.latitude;
      const lng = pos.coords.longitude;

      document.getElementById("id_latitude").value = lat;
      document.getElementById("id_longitude").value = lng;

      const url = `https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${lat}&lon=${lng}`;

      const res = await fetch(url);
      const data = await res.json();

      document.getElementById("id_address").value = data.display_name || "";

      document.getElementById("id_city").value =
        data.address.city || data.address.town || "";

      document.getElementById("id_province").value = data.address.state || "";
    });
  };
</script>

{% endblock %}
